<div id="<%= dom_id all_secrets_friend %>">
  <p>
    <strong>Name:</strong>
    <%= all_secrets_friend.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= all_secrets_friend.email %>
  </p>

  <p>
    <strong>Draw create:</strong>
    <%= all_secrets_friend.draw_create %>
  </p>

  <p>
    <strong>Draw:</strong>
    <%= all_secrets_friend.draw_id %>
  </p>

</div>
